
body {
    margin:0px;
}
a:hover {
    text-decoration: none;
}

/* (index) */

/* #header */

header {
    font-size: 22px;
    background-color: #F8B9B4;
}
.navbar-brand {
    padding: 15px 0px;
}
.navLogo {
    height: 50px;
}
.nav-item {
    width: 100%;
}
.nav-link {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
@media screen and (max-width:992px){
    .navbar .nav-item {
        margin: 0px auto;
    }
}

/* #banner */

@media screen and (max-width:767.98px){
    .carousel-indicators {
        display: none;
    }
}
/* banner > carousel caption */
.carousel-caption {
    height: 70%;
    position: absolute;
    align-items: center;
}
@media screen and (max-width:767.98px){
    .carousel-caption {
        padding-top: 58px;
    }
}
.carousel-caption h1 {
    font-size: 45px;
    font-family: 'Shippori Mincho', serif;
    color: rgb(255, 250, 250);
    text-shadow: 0px 0px 10px rgb(20,20,20);
}
.carousel-caption h1>span {
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    display: block;
    margin-top: 8px;
    text-shadow: 0px 0px 10px rgb(20,20,20);
}
/* banner > more introduction BTN */
.moreIntroductionBtn {
    margin-bottom: 10px;
    background-color: rgb(50,50,50,.3);
    color: #ffffff;
    border: 2px solid #817b7b;
}
.moreIntroductionBtn p {
    margin: 0px;
}
@media screen and (max-width:767.98px){
    .moreIntroductionBtn {
        display: none;
    }
}
.moreIntroduction {
    background-color: #00000059;
    border: 0px;
}
.moreIntroduction p {
    margin-bottom: 24px;
}
.moreIntroduction p:nth-last-child(1) {
    margin-bottom: 0px;
}
/* banner > icon */
.aboutIcon {
    overflow: hidden;
    margin: 10px auto 0px auto;
    max-width: 153px;
}
.aboutIcon a{
    display: block;
    width: 31px;
    float: left;
    margin: 0px 10px;
}
.aboutIcon i{
    width: 31px;
    height: 31px;
    font-size: 28px;
}
/* banner > icon(color) */
.fa-facebook {
    color: #66ADFF;
    text-shadow: 0px 0px 5px rgb(30,30,30,.3);
    transition: color .15s ease-in-out;
}
.fa-instagram {
    color: #FF66AF;
    text-shadow: 0px 0px 5px rgb(30,30,30,.3);
    transition: color .15s ease-in-out;
}
.fa-twitter-square {
    color: #66C6FF;
    text-shadow: 0px 0px 5px rgb(30,30,30,.3);
    transition: color .15s ease-in-out;
}
.fa-facebook:hover {
    color: #3292FF;
}
.fa-instagram:hover {
    color: #FF3295;
}
.fa-twitter-square:hover {
    color: #32B4FF;
}

/* content */

#content {
    background-color: rgb(255, 250, 250);
    overflow: hidden;
}
/* content > introduction */
#introduction {
    font-family: 'Noto Sans TC', sans-serif;
    padding: 67px 32px;
    background-image: url("https://upload.cc/i1/2021/06/10/M0Hu4c.jpg");
    display: none;
}
#introduction h2 {
    font-size: 50px;
    font-family: 'Noto Serif TC', serif;
    margin: 0px 0px 23px 0px;
    color: #333;
}
#introduction h3 {
    margin: 0px;
    font-size: 16px;
    font-weight: 400px;
}
#introduction p {
    margin-bottom: 23px;
    text-indent: 2rem;
}
#introduction p:nth-child(1) {
    text-indent: 0px;
}
#introduction p:nth-last-child(1) {
    margin-bottom: 0px;
}
@media screen and (max-width:767.98px){
    #introduction {
        display: block;
    }
}
/* content > pieces */
#pieces {
    margin-bottom: 80px;
}
#pieces h2 {
    font-size: 50px;
    font-family: 'Noto Serif TC', serif;
    margin: 58px 0px;
    color: #666;
}
.pieces {
    margin-bottom: 30px;
    font-family: 'Noto Serif TC', serif;
}
.pieces a {
    display: block;
    background-color: #fff;
    margin: 0px auto;
    max-width: 224px;
    color: #666;
    transition: color .15s ease-in-out, box-shadow .15s;
    box-shadow: 0px 15px 45px rgba(0,0,0,.175);
}
.pieces a:hover {
    color: #0A58CA;
    box-shadow: 0px 15px 45px rgba(0,0,0,.175), 0px 0px 5px 2px rgba(30,30,30,.2);
}
@media (max-width: 1199.98px) {
    .pieces a {
        max-width: none;
    }
}
@media (max-width: 991.98px) {
    .pieces {
        padding: 0px 45px;
    }
}
@media (max-width: 767.98px) {
    .pieces {
        padding: 0px 60px;
    }
}
.piecesImg {
    height: 314px;
    overflow: hidden;
    display: flex;
}
#pieces img {
    width: 100%;
    object-fit: cover;
}
#pieces h3 {
    margin: 0px;
    font-size: 28px;
    text-align: center;
    padding: 42px 0px;
    overflow: hidden;
}
.piecesData {
    display: block;
    font-size: 14px;
    margin-top: 25px;
    height: 18px;
}

/* footer */

footer {
    height: 500px;
    width: 100%;
    background-color: #555;
    font-family: 'Poiret One', cursive;
    overflow: hidden;
    position: relative;
}
@media (max-width: 991.98px) {
    footer {
        height: 300px;
    }
}
/* footer > video */
footer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
}
/* footer > text */
.moreVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5
}
.moreVideo h3 {
    font-size: 32px;
    font-weight: 200;
    margin: 400px 150px 0px 0px;
    text-align: right;
    color: #fff;
    text-shadow: 0px 0px 4px #fff;
}
.moreVideo br {
    display: none;
}
@media (max-width: 991.98px) {
    .moreVideo h3 {
        margin: 100px 0px 0px 0px;
        text-align: center;
    }
    .moreVideo br {
        display: inline;
    }
}
.moreVideo a {
    color: #aaa;
    transition: color .2s ease-in-out, text-shadow .2s ease-in-out;
    text-shadow: 0px 0px 0px;
}
.moreVideo a:hover {
    color: #fff;
    text-shadow: 0px 0px 4px #fff;
}